 @font-face {
   font-family: "Pokemon-S";
   src: url(../Pokemon\ Solid.ttf)
 }

 body {
   font-family: "Pokemon-S";
   font-size: 20px;
   background-color: #F2F2F2;
 }


 #pokemonInput,
 #deletePokemon {
   width: 80%;
 }

 #pokemonForm label,
 #pokemonForm input {
   margin: 5px 0;
 }

 .pokemonButton {
   height: 100%;
   margin-right: 5px;
   margin-bottom: 10px;
   background: -moz-linear-gradient(left, #F04037 50%, #fff 50%);
   background: -webkit-linear-gradient(left, #F04037 50%, #fff 50%);
   background: linear-gradient(to bottom, #F04037 50%, #fff 50%);
   font-weight: 800;
   font-size: 1.25rem;
   box-shadow: 1px 2px #888888;
 }

 input[type='submit'] {
   background: -moz-linear-gradient(left, #F04037 50%, #fff 50%);
   background: -webkit-linear-gradient(left, #F04037 50%, #fff 50%);
   background: linear-gradient(to bottom, #F04037 50%, #fff 50%);
   font-weight: 800;
   font-size: 1.25rem;
   box-shadow: 1px 2px #888888;
   width: 33%;
   margin: auto 0;
 }

 h2 {
   margin-bottom: 20px;
 }


 .pokemonButton:hover,
 .download:hover {
   transform: scale(1.1);
 }

 #gifs div {
   display: inline-block;
   width: 33%;
 }

 a:hover {
   color: black;
 }

 .download {
   margin: auto;
   box-shadow: none;
 }

 a {
   color: #dc3545;
 }

 @media only screen and (max-width: 1214px) {
   #gifs div {
     width: 30%;
     overflow: hidden;
     margin-right: 3.33%;
   }
 }

 @media only screen and (max-width:1005px) {
   #gifs div {
     width: 49%;
     margin-right: 1%;
   }
 }


 @media only screen and (max-width: 640px) {
   #gifs div {
     width: 100%;
   }
 }